doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Florin Senoner
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    //build:css css/index.min.css
    link(rel="stylesheet" href="css/index.css")
    //endbuild
  body


    //build:js js/main.min.js
    script(src="js/tools/smooth-scroll.js" type="text/javascript" charset="utf-8" async defer)
    script(src="js/index.js" type="text/javascript" charset="utf-8" async defer)
    //endbuild