/* swatch colors */

$color-primary-text:
$color-secondary-text:
$color-divider-color:
$color-text-icons:

$color-primary:
$color-primary-light:
$color-primary-dark:

$color-accent:
$color-accent-light:
$color-accent-dark:


$box-shadow-default: 0 2px 8px -2px rgba(0, 0, 0, 0.5)
$border-radius-default: 2px

$values-animation-speed-default: 100ms
$values-animation-function-default: cubic-bezier(0.31,-0.7, 0.78, 1.53)